:root {
  --input-border-color: #000;
  --button-color: #fff;
}

html {
  font-family: "IBM Plex Sans", sans-serif;
}
body {
  padding: 0px 16px;
  font-size: 2rem;
  background: #757f9a; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #d7dde8,
    #757f9a
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #d7dde8,
    #757f9a
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
h1 {
  line-height: 1.25;
}
h2 {
  line-height: 1.15;
}
h3 {
  font-size: 1.75rem;
  line-height: 1.1;
}
p {
  line-height: 1.1;
}

.header {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  z-index: 1;
  padding: 8px;
  background: #757f9a;
  background: -webkit-linear-gradient(to left, #d7dde8, #757f9a);
  background: linear-gradient(to left, #d7dde8, #757f9a);
  border-bottom: 3px solid black;
}
.header-logo {
  max-width: 200px;
}
.site-heading {
  font-size: 4rem;
  text-align: center;
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  margin-top: 90px;
  margin-bottom: 32px;
}
.input-container {
  display: flex;
  gap: 4px;
}
#search-input {
  width: 100%;
  border-radius: 4px;
  box-shadow: 0 2px 25px hsl(0deg 50% 0% / 0.5);
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.valve-heading {
  font-size: 2.5rem;
}
.valve-container {
  visibility: hidden;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
}
.img-wrapper {
  justify-self: end;
  max-width: 640px;
  min-width: 400px;
  min-height: 400px;
  border-radius: 8px;
}
.img-wrapper_theme-loading {
  visibility: revert;
  animation: background-loading 0.8s linear infinite alternate;
  background-color: #f9fafb;
}
.valve-photo {
  object-position: 50% 20%;
  border-radius: 8px;
}
.valve-photo_theme-loading {
  visibility: hidden;
}
.inner-info-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  transform: translateY(-10px);
}

@media (max-width: 75rem) {
  .valve-container {
    grid-template-columns: 1fr;
  }
  .img-wrapper {
    justify-self: center;
  }
}
@media (max-width: 37.5rem) {
  body {
    font-size: 1.5rem;
  }
  .site-heading {
    font-size: 2rem;
    line-height: 1.1;
  }
  .img-wrapper {
    min-width: 250px;
    min-height: 250px;
  }
}

/* Styles for button */
.bubbly-button {
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--button-color);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  position: relative;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  box-shadow: 0 2px 25px hsl(0deg 50% 0% / 0.3);
}
.bubbly-button:before,
.bubbly-button:after {
  position: absolute;
  content: "";
  display: block;
  width: 140%;
  height: 100%;
  left: -20%;
  z-index: -1000;
  transition: all ease-in-out 0.5s;
  background-repeat: no-repeat;
}
.bubbly-button:before {
  display: none;
  top: -75%;
  background-image: radial-gradient(
      circle,
      var(--button-color) 20%,
      transparent 20%
    ),
    radial-gradient(
      circle,
      transparent 20%,
      var(--button-color) 20%,
      transparent 30%
    ),
    radial-gradient(circle, var(--button-color) 20%, transparent 20%),
    radial-gradient(circle, var(--button-color) 20%, transparent 20%),
    radial-gradient(
      circle,
      transparent 10%,
      var(--button-color) 15%,
      transparent 20%
    ),
    radial-gradient(circle, var(--button-color) 20%, transparent 20%),
    radial-gradient(circle, var(--button-color) 20%, transparent 20%),
    radial-gradient(circle, var(--button-color) 20%, transparent 20%),
    radial-gradient(circle, var(--button-color) 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
    10% 10%, 18% 18%;
}
.bubbly-button:after {
  display: none;
  bottom: -75%;
  background-image: radial-gradient(
      circle,
      var(--button-color) 20%,
      transparent 20%
    ),
    radial-gradient(circle, var(--button-color) 20%, transparent 20%),
    radial-gradient(
      circle,
      transparent 10%,
      var(--button-color) 15%,
      transparent 20%
    ),
    radial-gradient(circle, var(--button-color) 20%, transparent 20%),
    radial-gradient(circle, var(--button-color) 20%, transparent 20%),
    radial-gradient(circle, var(--button-color) 20%, transparent 20%),
    radial-gradient(circle, var(--button-color) 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
}
.bubbly-button:active {
  transform: scale(0.95);
  box-shadow: 0 2px 25px black;
}
.bubbly-button.animate:before {
  display: block;
  animation: topBubbles ease-in-out 0.75s forwards;
}
.bubbly-button.animate:after {
  display: block;
  animation: bottomBubbles ease-in-out 0.75s forwards;
}

/* Styles for input */
.col-3 {
  /* float: left;
  width: 27.33%;
  margin: 40px 3%; */
  position: relative;
}
.effect-9:focus {
  outline: none;
}
.effect-9 {
  border: 1px solid #ccc;
  padding: 7px 14px 9px;
  transition: 0.4s;
}
.effect-9 ~ .focus-border:before,
.effect-9 ~ .focus-border:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 2px;
  background-color: var(--input-border-color);
  transition: 0.2s;
  transition-delay: 0.2s;
}
.effect-9 ~ .focus-border:after {
  top: auto;
  bottom: 0;
  right: auto;
  left: 0;
  transition-delay: 0.6s;
}
.effect-9 ~ .focus-border i:before,
.effect-9 ~ .focus-border i:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 0;
  background-color: var(--input-border-color);
  transition: 0.2s;
}
.effect-9 ~ .focus-border i:after {
  left: auto;
  right: 0;
  top: auto;
  bottom: 0;
  transition-delay: 0.4s;
}
.effect-9:focus ~ .focus-border:before,
.effect-9:focus ~ .focus-border:after {
  width: 100%;
  transition: 0.2s;
  transition-delay: 0.6s;
}
.effect-9:focus ~ .focus-border:after {
  transition-delay: 0.2s;
}
.effect-9:focus ~ .focus-border i:before,
.effect-9:focus ~ .focus-border i:after {
  height: 100%;
  transition: 0.2s;
}
.effect-9:focus ~ .focus-border i:after {
  transition-delay: 0.4s;
}

/* Animations */
/* The placeholder animation */
@keyframes background-loading {
  0% {
    background-color: #f9fafb;
  }
  100% {
    background-color: #d1d5db;
  }
}
/* Button animation */
@keyframes topBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
      40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
      50% 50%, 65% 20%, 90% 30%;
  }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
      50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
@keyframes bottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
      70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
      105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
      110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
/* ---- */
